* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    margin-left: 15%;
    margin-right: 15%;
}

a{
    color: black;
    text-decoration: none;
}

.conteiner{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header{
    font-size: 28px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 50px;
}

#menu{
    text-align: right;
    margin-top: 57px;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    margin-left: 25px;
}

#textTop p{
    color: #575455;
}

#textTop h1{
    font-size: 55px;
}

#botaoTop{
    background-color: #1F7CFF;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    border-radius: 33px;
}

#imgTop{
    margin-left: 42px;
}
#imgTop img{
    width: 100%;
}