* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    margin-left: 15%;
    margin-right: 15%;
}

a{
    color: black;
    text-decoration: none;
}

.conteiner{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header{
    font-size: 28px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 50px;
}

#menu{
    text-align: right;
    margin-top: 57px;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    margin-left: 25px;
}

#textTop p{
    color: #575455;
}

#textTop h1{
    font-size: 55px;
}

#botaoTop{
    background-color: #1F7CFF;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    border-radius: 33px;
}

#imgTop{
    margin-left: 42px;
}
#imgTop img{
    width: 100%;
}

.Logos{
    padding-top: 55px;
    padding-bottom: 58px;
    text-align: center;
}

#textlogo{
    padding-top: 55px;
    padding-bottom: 58px;
    font-weight: 600;

}

#red{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F75C4E;
}

#black{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    margin-top: 0px;
}


.textgray{
    color: #575455;
    }

.icon{
    text-align: center;
    }

.iconText{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    }
#imgContact{
        width: 100%;
    }
#formText{
        margin-left: 75px;
    }
.textMeio{
        text-align: center;
    }
#form{
    margin-top: 80px;
}
#inputEmail{
    border-radius: 50px;
    width: 60%;
    border: 0;
    padding: 9px 10px 9px 25px;
    font-size: 16px;
    background-color: #F5F6FB;
    color: #575455;
}
#botaoForm{
    margin-top: 20px;
    border-radius: 50px;
    background-color: #1F7CFF;
    color: white;
    font-size: 16px;
    padding: 9px 60px 9px 60px;
    border: 0px;
}